* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    height: 100vh;
    width: 100vw;

}
.sub-heading, .nav-heading{
    margin: 10px 0px 15px;
    text-align: center;
}
.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-row-gap: 1em;
    background-image: url('../img/bg_background2.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.logo-name {
    line-height: 50px;
    margin-left: 15px;
}

.left-nav {
    list-style-type: none;
}

.left-nav>li {
    border: 1px solid #F1F1F1;
}

.left-nav>li>a {
    display: block;
    padding: 15px;
    text-decoration: none;
    transition-duration: .7s;
    font-weight: bold;
}
.left-nav>li>a:hover{
    background-color: silver;
}
.r1,
.r3 {
    background-color: #CCC;
}

.r2 {
    background-color: rgba(155, 155, 155, 0.815);
    width: 90%;
    margin: 0px auto;
}

.r1,
.r2,
.r3 {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-column-gap: 1em;
}

.r2c1,
.r2c3 {
    background-color: #CCC;
}
.r2c3{
    padding: 0px 15px 10px;
}
.course-table{
    table-layout: fixed;
    width: 100%
}
.course-table>thead>tr{
    height: 50px;
    text-align: center;
}
.course-table>tbody>tr{
    height: 28px;
    
}
.course-table>tbody>tr>td{
    border: 1px solid #000000;            
}
.course-table>thead>tr>td{
    border: 1px solid #AAA;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(255, 0, 0, 0.897);
}
td{
    padding: 10px;
}
.copyright-text{
    align-self: center;
    justify-self: center;
}
.box-shadow {
    -webkit-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9 px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
}